{% extends 'base.html' %}

{% block content %}
<form method="post" class="buttons">
  <h1>Welcome to the portal</h1>
  <h6 class="rules">
    1. To join a room, enter room code, a name, and click join a room button<br>
    2. To create a room, enter a name and click create a room button
  </h6>
  <div>
    <!--<label>Name:</label>-->
    <input
      class="pick"
      type="text"
      placeholder="Pick a name!"
      name="name"
      value="{{name}}"
    />
  </div>
  <div class="join">
    <input class="roomcode" type="text" placeholder="Room Code" name="code" value="{{code}}" />
    <button class="joinbtn" type="submit" name="join">Join a Room</button>
  </div>
  <button class="createbtn" type="submit" name="create" class="create-btn">Create a Room</button>
  
  {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
  {% endif %}
</form>

<!-- List of Current Rooms -->
<h3 class="current">Current Chat Rooms</h3>
{% if rooms %}
  <ul>
    {% for room, details in rooms.items() %}
    <li class="roomlist">
      Room Code: <span class="code">{{ room }}</span> - {{ details["members"]|length }} users
       <!-- <a href="{{ url_for('room') }}?code={{ room }}">Join</a>-->
      </li>
    {% endfor %}
  </ul>
{% else %}
  <p>No active chat rooms.</p>
{% endif %}

{% endblock %}
